body{
    overflow: hidden;
}

.wrapper{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-row: 10% 90%;
    margin-top: 10px;
    column-gap: 5%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    grid-row: 2;
}

.container > div{
    font-family: "Roboto";
    border: 2px solid #c79f80;
    background-color: #f1b81c17;
    border-radius: 5px;
    padding: 10px;
    margin: 2.5%;
    width: 150px;
    text-align: center;
    color: rgb(126, 77, 21);
}

button{
    color: rgb(126,77,21);
    border-radius: 2.5px;
    margin-top: 10px;
    font-weight: bolder;
    border-color: rgba(126,77,21, 0.397);
}

button:hover{
    box-shadow: rgba(85, 47, 22, 0.733) 0.1em 0.1em 0.2em;
}

.filtro{
    padding: 2%;
    padding-top: 10%;
    margin: 0.5%;
    background-color: rgb(231, 174, 103);
    grid-row: 2;
}
