<link rel="stylesheet" href="css/produtos.css">

<section>
    <div class="nomepag">
        <h1 style="font-size: 25px; text-shadow: rgb(83, 39, 9) 0.1em 0.1em 0.2em">Calçados</h1>
        <div class="icone">
            <a href="/login"><img scr="imagem/usuario.png" alt="login" class="img1"></a> 
        </div>
    </div>

    <div class="wrapper">
        <div class="filtro">
            <form class="p1">
                <label>Cor:></label><br>
                <select name="cor">
                    <option value="00">----------</option>
                    <option value="Azul">Azul</option>
                    <option value="Vermelho">Vermelho</option>
                    <option value="Preto">Preto</option>
                    <option value="Amarelo">Amarelo</option>
                </select><br>

                <label>Numeração:></label><br>
                <select name="tamanho">
                    <option value="00">----------</option>
                    <option value="34">34</option>
                    <option value="36">36</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                </select><br>

                <label>Estação:></label><br>
                <select name="estacao">
                    <option value="00">----------</option>
                    <option value="outonon">outono</option>
                    <option value="primavera">primaveaa</option>
                    <option value="inverno">inverno</option>
                    <option value="verao">verão</option>
                </select><br>

                <label>Modelo:></label><br>
                <select name="modelo">
                    <option value="00">----------</option>
                    <option value="tenis">Tênis</option>
                    <option value="sandalha">Sandalha</option>
                    <option value="sapato">Sapato</option>
                    <option value="botas">Botas</option>
                </select><br>

                <button value="submit" name="enviar">Enviar</button><br>
                <button value="exit" name="apagar">Cancelar</button>
            </form>
        </div>

        <div class="container">
                <% calcado.forEach(calcado => {%>
                </div>
                <img scr="imagensprod/cal/<%=calcado.foto%>" width="150px" height="150px"><br>
                <p><%= calcado.nome %></p><br>
                <p><%= calcado.valor %> &nbsp;&nbsp; <button type="submit">Comprar</button></p>
        </div>
    
        <%});%>

        </div>
    </div>
</section>